
npm-debug.log
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.settings/
.classpath
.project
.vscode/
.obsidian/
.obsidian/*
.obsidian/graph.json
.obsidian/workspace
*.iml
*/*.log.*
*/*.log
bin/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

